{{ define "task-list" }}
  <section id="task-list">
    {{ if .Data.TaskLog.CurrentTask }}
      <h2 class="mb-4 font-bold text-3xl">Current task</h2>
      {{template "task" .Data.TaskLog.CurrentTask}}
    {{ end }}

    {{ if .Data.TaskLog.TaskHistory }}
      <h2 class="mb-4 font-bold text-3xl">Task log</h2>

      <ul>
        {{ range .Data.TaskLog.TaskHistory }}
        <li>
          {{ template "task" . }}
        </li>
        {{ end }}
      </ul>

    {{ else }}
      <h2 class="mb-4 font-bold text-3xl">No tasks</h2>
    {{ end }}
  </section>
{{ end }}

{{ block "task" . }}
  <div class="w-1/3 p-4 mb-2 border border-gray-400 rounded-lg">

    <h2>{{ .Name }}</h2>

    <div class="flex">
      {{ if eq .State "Begin" }}
        {{ template "icon_check" }}
      {{ end }}
      <h4>{{ .State }}</h4>
    </div>

  </div>
{{ end }}
