{{ define "user-key-form" }}
  <form
    class="w-1/3 flex flex-col"
    hx-post="/post-key/"
    hx-target="#task-list"
    hx-swap="outerHTML"
  >
    <label for="user-key">Your `user_key`</label>
    <input
      class="p-2 border border-gray-400 rounded-lg"
      type="text"
      name="user-key"
      id="user-key"
      placeholder="0000"
    />

    <div class="mb-3"></div>

    <button class="p-4 border border-gray-700 rounded-lg" type="submit">
      Submit
    </button>
  </form>
{{ end }}

{{ define "invalid-user-key"}}
  <section id="task-list">
    <h3 class="mb-4 font-bold text-3xl">Invalid key!</h3>
  </section>
{{ end }}
